<div class="flex flex-col w-full h-[76vh]">
  <div class="flex flex-col flex-grow overflow-auto">
    @for (mess of messages(); track mess.id) {

    <div 
    class="chat"
    [class.chat-start]="!mess.currentUserSender"
    [class.chat-end]="mess.currentUserSender"
    >
      <div class="chat-image avatar">
        <div class="w-10 rounded-full">
          <img
            alt="image of user"
            [src]="mess.senderImageUrl"
          />
        </div>
      </div>
      <div class="chat-header">
        {{mess.senderDisplayName}}
        <time class="text-xs opacity-50">{{mess.messageSent | date:'short'}}</time>
      </div>
      <div class="chat-bubble">{{mess.content}}</div>
      @if (mess.currentUserSender && mess.dateRead) {
        <div class="chat-footer opacity-50">Seen {{mess.dateRead | timeAgo}}</div>}
      @else if (mess.currentUserSender && !mess.dateRead) {
        <div class="chat-footer opacity-50">Not read </div>}
      @else {
        <div class="chat-footer opacity-50">Delivered</div>}
      
    </div>
    
    }
    <div #messageEndRef id="radu11"></div>
      </div>
    
    <div class="flex join w-full">
        <input [(ngModel)]="messageContent" class="input w-full" 
        placeholder="Enter your message" (keydown.enter)="sendMessage()">
        <button (click)="sendMessage()" class="btn btn-primary join-item">Send</button>
    </div>
</div>

